<p id="notice"><%= notice %></p>

<p>
  <b>Text:</b>
  <%= @note.text %>
</p>


<%= link_to 'Edit', edit_subject_topic_note_path(@subject.id, @topic.id, @note.id) %> |
<%= link_to 'Back', subject_topic_notes_path(@subject.id, @topic.id) %>
