<h1>Dashboard</h1>
<div class="row-fluid">
  <div class="span4"><h2><%= @newusercount %></h2> new users this week</div>
  <div class="span4"><h2><%= @activeusercount %></h2> active users this week</div>
  <div class="span4"><h2><%= @emailunconfirmedusercount %></h2> users who have not confirmed their email</div>
</div>
    