@mixin gradient($color){
  background: $color;
  background: -webkit-gradient(linear, left top, left bottom, from(lighten($color, 5%)), to(darken($color, 5%)));
  background: -moz-linear-gradient(top, lighten($color, 5%), darken($color, 5%));
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#{lighten($color, 5%)}', endColorstr='#{darken($color, 5%)}');
}

@mixin button($color){
  color: $color;
  background-color: rgba(0, 0, 0, 0);
  cursor: pointer;
  text-decoration: none;
  padding: 0.3em;
  border-radius: 0.5em;
  border: 2px solid $color;
  display: inline-block;
  font-size: 1rem;
  &:hover{
    background-color: $color;
    color: #fff;
  }
  &:active{
    background-color: darken($color, 10%);
    border: 2px solid darken($color, 10%);
    color: #fff;
  }
}

@mixin button-list($color){
  list-style: none;
  padding: 0;
  li{
    color: #fff;
    cursor: pointer;
    text-decoration: none;
    @include gradient($color);
    padding: 0.5em;
    box-shadow: inset 0px 1px 0px lighten($color, 30%);
    text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.6);
    border: 1px solid darken($color, 10%);
    &:hover{
      @include gradient(lighten($color, 10%));
    }
  }
  li:first-child{
    border-radius: 0.5em 0.5em 0 0;
  }
  li:last-child{
    border-radius: 0 0 0.5em 0.5em;
  }
}

html{
  background-color: #eee;
}

body{
  margin: 0;
}

*{
  font-family: 'Lato', 'Helvetica', sans-serif;
  box-sizing: border-box;
  font-size: 1rem;
}

h1, h2, h3, h4{
  margin: 0;
}

div.maxwidth{
  width: 100%;
  max-width: 55em;
  margin-left: auto;
  margin-right: auto;
}

div.maincontent{
  padding: 0.5em;
}

div.maxwidth > a.home{
  text-decoration: none;
  color: #000;
}

div.maxwidth > a.home img,  div.maxwidth > a.home span, div.maxwidth > a.home, header span, header a{
  vertical-align: middle;
}

div.maxwidth > a.home img{
  border-radius: 3em;
}

.subjects > h2{
  display: inline-block;
}

a.newsubjectsbutton{
  @include button(#000);
}

ul.subjectlist{
  @include button-list(#000);
}

div.main{
  padding: 0.5em;
}

a.login, a.signup{
  width: 5em;
  @include button(#563e26);
  text-align: center;
  margin: 0.5em;
}

header{
  padding: 0.5em;
  a.account{
    @include button(#000);
    display: inline-block;
    float: right;
  }
  &, *{
    vertical-align: top;
  }
  &, div.maxwidth{
    overflow: auto;
  }
}

img.hero{
  width: 100%;
  max-width: 30em;
  height: auto;
  display: inline-block;
}

p.center{
  text-align: center;
}

div.index{
  text-align: center;
  @media screen and (min-width: 425px) {
    font-size: 1.2em;
  }
  @media screen and (min-width: 525px) {
    font-size: 1.4em;
  }
}

div.alert-message{
  color: #ff0000;
  border-radius: 0.5em;
  border: 2px solid #ff0000;
  text-align: center;
}

footer{
  padding: 0.5em;
  img{
    background-color: #000;
    padding: 0.1em;
    border-radius: 0.2em;
  }
  *{
    text-align: center;
  }
}

header span.userinfo{
  height: 50px;
  float: right;
  padding-top: 15px;
  @media screen and (max-width: 47.5em) {
    float: none;
  }
}
header a.home span, header span.navcurrent{
  font-size: 1.5em;
  display: inline-block;
}

header img.navlogo{
  width: 50px;
  height: 50px;
  border: 2px solid #ccc;
  &:hover{
    border: 2px solid #000;
  }
}

header span.name{
  color: #ccc;
  vertical-align: middle;
}

.button, input[type=submit], button{
  @include button(#000);
}

.buttongroup3 .button{
  border-radius: 0;
}

.buttongroup3 .button:first-child{
  border-radius: 0.5em 0 0 0.5em;
  border-right: none;
  cursor: auto;
  background-color: #000;
  color: #fff;
}

.buttongroup3 .button:last-child{
  border-radius: 0 0.5em 0.5em 0;
  border-left: none;
}

.buttongroup3:hover .button{
  background-color: rgba(0, 0, 0, 0);
  color: #000;
  &:hover{
    background-color: #000;
    color: #fff;
  }
}

article.note{
  color: #000;
  background-color: rgba(0, 0, 0, 0);
  padding: 0.3em;
  border-radius: 0.5em;
  border: 2px solid #000;
  display: inline-block;
  font-size: 1rem;
  strong{
    font-size: 1.4rem;
    vertical-align: middle;
  }
  a{
    vertical-align: middle;
    float: right;
    @include button(#000);
  }
}

header > div.maxwidth > *{
  &.userinfo label, &.userinfo .expand a{
    @include button(#000);
    display: inline;
    vertical-align: baseline;
  }
  &.userinfo .expand a, &.userinfo input[type=checkbox]{
    display: none;
  }
  &.userinfo input[type=checkbox]:checked ~ .expand label{
    background-color: #000;
    color: #fff;
  }
  &.userinfo input[type=checkbox]:checked ~ .expand a{
    display: inline;
  }
  &.userinfo > *, &.button{
    display: inline;
  }
  @media screen and (max-width: 47.5em){
    display: block;
    &.userinfo{
      height: auto;
      margin-bottom: 2em;
    }
    &.userinfo > *{
      display: block;
    }
  }
  @media screen and (max-width: 18.75em){
    &.button{
      display: block;
      text-align: center;
      margin-top: 1em;
    }
  }
  &.navcurrent, &.home{
    display: inline;
  }
}
