<% @title = "Cookies Policy" %>
<p>Pen Pencil Ruler uses Google Analytics, which uses cookies, to track a visitor's usage of the Pen Pencil Ruler website and you may opt-out of this by setting your browser to refuse cookies before using this website.</p>
<p>Our Privacy Policy, which includes a section on this website's usage of cookies, can be found at <%= link_to privacy_url, privacy_path %></p>
