<% @title = "Feedback" %>
<div class="main feedback">
  <div class="maxwidth">
    <article class="indexinfo30">
      <img class="hero" src="<%= image_path("iconmonstr-bug-3-icon.png") %>">
      <p>Report a bug</p>
      <p>Send an email to <a href="mailto:support@penpencilruler.com">support@penpencilruler.com</a> which includes how you came across this bug</p>
    </article>
    <article class="indexinfo30">
      <img class="hero" src="<%= image_path("iconmonstr-help-5-icon.png") %>">
      <p>Ask for help</p>
      <p>Ask us by emailing us at <a href="mailto:support@penpencilruler.com">support@penpencilruler.com</a></p>
    </article>
    <article class="indexinfo30">
      <img class="hero" src="<%= image_path("iconmonstr-light-bulb-17-icon.png") %>">
      <p>Have an idea?</p>
      <p>Email us at <a href="mailto:support@penpencilruler.com">support@penpencilruler.com</a></p>
    </article>
  </div>
</div>