<div class="main index">
  <div class="maxwidth">
    <img class="hero" src="<%= image_path("hero.png") %>">
    <p class="subtitle center large">Studying made easier</p>
    <p class="center buttons"><a href="signup" class="signup large">Sign up</a>
    <a href="login" class="login large">Login</a></p>
    <article class="indexinfo30">
      <img class="hero" src="<%= image_path("iconmonstr-text-file-3-icon.png") %>">
      <p>Organise your notes into subjects and topics</p>
    </article>
    <article class="indexinfo30">
      <img class="hero" src="<%= image_path("iconmonstr-full-folder-icon.png") %>">
      <p>A central place to store your revision notes</p>
    </article>
    <article class="indexinfo30">
      <img class="hero" src="<%= image_path("iconmonstr-lock-3-icon.png") %>">
      <p>Your notes are private by default</p>
    </article>
  </div>
</div>

