<div class="main index">
  <div class="maxwidth">
    <img class="hero" src="<%= image_path("hero.png") %>">
    <p class="subtitle center">Studying made easier</p>
    <p class="center"><a href="signup" class="signup">Sign up</a>
    <a href="login" class="login">Login</a></p>
  </div>
</div>
