<% @title = "Privacy Policy" %>

<aside class="annotation">The following document is Pen Pencil Ruler's Privacy Policy. You should read this carefully before you use Pen Pencil Ruler. We have included annotations throughout this document which are not part of the policy, but they are to help you understand the policy.</aside>

<p>If you have questions about deleting or correcting your personal data please contact our support team at <a href="mailto:support@penpencilruler.com">support@penpencilruler.com</a>.</p>

<p>Jack Hughes ("We", "Us" or "Our") operates penpencilpaper.com. It is our policy to respect your privacy regarding any information we may collect while operating our websites.</p>

<p><h2>Website Visitors</h2>
Like most website operators, we collect non-personally-identifying information of the sort that web browsers and servers typically make available, such as the browser type, language preference, referring site, and the date and time of each visitor request. Our purpose in collecting non-personally identifying information is to better understand how our visitors use its website. From time to time, we may release non-personally-identifying information in the aggregate, e.g., by publishing a report on trends in the usage of its website.</p>

<span class="arrow"></span><aside class="annotation">We may collect non-personally-identifying information for analytics.</aside>

<p>We also collect potentially personally-identifying information like Internet Protocol (IP) addresses for logged in users. We only disclose logged in user IP addresses under the same circumstances that it uses and discloses personally-identifying information as described below.</p>

<p><h2>Gathering of Personally-Identifying Information</h2>
Certain visitors to this website (Pen Pencil Ruler) choose to interact with us in ways that require us to gather personally-identifying information. The amount and type of information that we gather depends on the nature of the interaction. For example, we ask visitors who sign up for an account at penpencilruler.com to provide their name and email address. Those who engage in transactions with us are asked to provide additional information, including as necessary the personal and financial information required to process those transactions. In each case, we collect such information only insofar as is necessary or appropriate to fulfill the purpose of the visitor’s interaction with us. We do not disclose personally-identifying information other than as described below. And visitors can always refuse to supply personally-identifying information, with the caveat that it may prevent them from engaging in certain website-related activities.</p>

<span class="arrow"></span><aside class="annotation">Any personally-identifying information will not be disclosed and you may refuse to provide this information, however you may not be able to use certain parts of this website as a result.</aside>

<p><h2>Aggregated Statistics</h2>
We may collect statistics about the behaviour of visitors to its websites. For instance, we may monitor certain accounts. We may display this information publicly or provide it to others. However, we do not disclose personally-identifying information other than as described below.</p>

<span class="arrow"></span><aside class="annotation">We may monitor the behaviour of visitors.</aside>

<p><h2>Protection of Certain Personally-Identifying Information</h2>
We disclose potentially personally-identifying and personally-identifying information only to those of its employees, contractors and affiliated organizations that (i) need to know that information in order to process it on our behalf or to provide services available at our websites, and (ii) that have agreed not to disclose it to others. Some of those employees, contractors and affiliated organizations may be located outside of your home country; by using our websites, you consent to the transfer of such information to them. We will not rent or sell potentially personally-identifying and personally-identifying information to anyone. Other than to its employees, contractors and affiliated organizations, as described above, we disclose potentially personally-identifying and personally-identifying information only in response to a subpoena, court order or other governmental request, or when we believe in good faith that disclosure is reasonably necessary to protect the property or rights of us, third parties or the public at large. If you are a registered user of Pen Pencil Ruler and have supplied your email address, we may occasionally send you an email to tell you about new features, solicit your feedback, or just keep you up to date with what’s going on with us and our products. If you send us a request (for example via a support email or via one of our feedback mechanisms), we reserve the right to publish it in order to help us clarify or respond to your request or to help us support other users. We take all measures reasonably necessary to protect against the unauthorized access, use, alteration or destruction of potentially personally-identifying and personally-identifying information.</p>

<span class="arrow"></span><aside class="annotation">We will not disclose personally-identifying information unless needed by partners or the law. We may contact you using your email address.</aside>

<p><h2>Cookies</h2>
A cookie is a string of information that a website stores on a visitor’s computer, and that the visitor’s browser provides to the website each time the visitor returns. We uses cookies to help us identify and track visitors, their usage of the Pen Pencil Ruler website, and their website access preferences. Visitors who do not wish to have cookies placed on their computers should set their browsers to refuse cookies before using our websites, with the drawback that certain features of our websites may not function properly without the aid of cookies.</p>

<span class="arrow"></span><aside class="annotation">Pen Pencil Ruler uses cookies to track a visitor's usage of the Pen Pencil Ruler website and you may opt-out of this by setting your browser to refuse cookies before using this website.</aside>

<p><h2>Ads</h2>
Ads appearing on any of our websites may be delivered to users by advertising partners, who may set cookies. These cookies allow the ad server to recognize your computer each time they send you an online advertisement to compile information about you or others who use your computer. This information allows ad networks to, among other things, deliver targeted advertisements that they believe will be of most interest to you. This Privacy Policy covers the use of cookies by us and does not cover the use of cookies by any advertisers.</p>

<span class="arrow"></span><aside class="annotation">Advertising partners may set cookies and this policy overs the use of cookies by us and not advertisers.</aside>

<p><h2>Privacy Policy Changes</h2>
Although most changes are likely to be minor, we may change our Privacy Policy from time to time, and in our sole discretion. We encourage visitors to frequently check this page for any changes to its Privacy Policy. Your continued use of this site after any change in this Privacy Policy will constitute your acceptance of such change.</p>

<span class="arrow"></span><aside class="annotation">We may change our privacy policy at any time and you should check this policy from time to time. If you continue to use the website after changes, you agree to these changes.</aside>

<h2>Change log:</h2>

<ul>
  <li>August 24, 2013: First version</li>
</ul>
