<% @title = "Suspended" %>
<div class="alert-message">
  <br>
  Your account has been suspended. Please contact <a href="mailto:support@penpencilruler.com">support@penpencilruler.com</a>.
  <br>
  &nbsp;
</div>