<% @title = "Terms of Service" %>

<aside class="annotation">The following document is Pen Pencil Ruler's Terms of Service. You should read this carefully before you use Pen Pencil Ruler. We have included annotations throughout this document which are not part of the contract, but they are to help you understand the contract.</aside>

<p>By using "Pen Pencil Ruler", which refers to the "Service" on <a href="http://www.penpencilruler.com">www.penpencilruler.com</a> provided by Jack Hughes ("We" or "Us", contact email: <a href="mailto:jack@jackhughesweb.com">jack@jackhughesweb.com</a>), you are agreeing to be bound by the following terms and conditions ("Terms of Service").</p>

<span class="arrow"></span><aside class="annotation">Simply, you agree to the following Terms of Service.</aside>

<p>We reserve the right to update and change the Terms of Service from time to time without notice. Any new features that augment or enhance the current Service, including the release of new tools and resources, shall be subject to the Terms of Service. Continued use of the Service after any such changes shall constitute your consent to such changes. You can review the most current version of the Terms of Service at any time at: <%= link_to terms_url, terms_path %></p>

<span class="arrow"></span><aside class="annotation">We reserve the right to change these Terms of Service and it is up to you to check these regularly.</aside>

<p>Violation of any of the terms below will result in the suspension and termination of your Account. You understand and agree that we cannot be responsible for the Content posted on the Service and you nonetheless may be exposed to such materials. You agree to use the Service at your own risk.</p>

<span class="arrow"></span><aside class="annotation">If you break any of these terms, your account will be suspended or deleted. Also, Pen Pencil Ruler is not responsible for any content on the website and you use this service at your own risk.</aside>

<h2>Account Terms</h2>

<ol>
  <li>You must be 13 years or older to use this Service.</li>
  <li>You must be a human. Accounts registered by "bots" or other automated methods are not permitted.</li>
  <li>You must provide your legal full name, a valid email address, and any other information requested in order to signup.</li>
  <li>Your login may only be used by one person - a single login shared by multiple people is not permitted.</li>
  <li>You are responsible for maintaining the security of your account and password. We cannot and will not be liable for any loss or damage from your failure to comply with this security obligation.</li>
  <li>You are responsible for all Content posted and activity that occurs under your account (even when Content is posted by others who have accounts under your account).</li>
  <li>You may not use the Service for any illegal or unauthorized purpose. You must not, in the use of the Service, violate any laws in your jurisdiction (including but not limited to copyright laws).</li>
</ol>

<h2>Cancellation and Termination</h2>

<ol>
  <li>You are solely responsible for properly cancelling your account. You can cancel your account at any time by:
    <ol>
      <li>Clicking on your name in the navigation bar at the top of the screen and clicking on "Edit Account" or by visiting <%= link_to edit_user_registration_url, edit_user_registration_path %></li>
      <li>In the section for cancelling your account, an email address is displayed and you must send an email to this address using your account email address to request an account deletion (this safety measure helps to reduce the likelihood of an unauthorised deletion of your account)</li>
      <li>When your request has been processed by us, visit the "Edit Account" page as above and click on the button to cancel your account. After accepting the confirmation dialog, your account will be deleted</li>
    </ol>
  </li>
  <li>All of your Content will be immediately deleted from the Service upon cancellation. This information can not be recovered once your account is cancelled.</li>        
  <li>We, in our sole discretion, have the right to suspend or terminate your account and refuse any and all current or future use of the Service, for any reason at any time. Such termination of the Service will result in the deactivation or deletion of your Account or your access to your Account, and the forfeiture and relinquishment of all Content in your Account. We reserve the right to refuse service to anyone for any reason at any time.</li>
</ol>

<span class="arrow"></span><aside class="annotation">You can delete your account by following the instructions above and this will delete all content on Pen Pencil Ruler. We have the right to suspend or terminate your account if you break these terms of service.</aside>

<h2>Modifications to the Service</h2>

<ol>
  <li>We reserve the right at any time and from time to time to modify or discontinue, temporarily or permanently, the Service (or any part thereof) with or without notice.</li>
  <li>We shall not be liable to you or to any third party for any modification, suspension or discontinuance of the Service.</li>
</ol>

<span class="arrow"></span><aside class="annotation">Pen Pencil Ruler may shut down with or without notice and we are not liable for any changes or discontinuation of the service.</aside>

<h2>Copyright and Content Ownership</h2>

<ol>
  <li>All content posted on the Service is must comply with U.K. copyright law. Please <%= link_to 'review our copyright compliance policy.', copyright_path %></li>
  <li>We claim no intellectual property rights over the material you provide to the Service. Your profile and materials uploaded remain yours.</li>
  <li>We do not pre-screen Content, but we have the right (but not the obligation) in their sole discretion to refuse or remove any Content that is available via the Service.</li>
</ol>

<span class="arrow"></span><aside class="annotation">All content that you add to Pen Pencil Ruler is your content and we do not claim copyright over your content.</aside>

<h2>Technical support</h2>

<ol>
  <li>Technical support is only available via email at <a href="mailto:support@penpencilruler.com">support@penpencilruler.com</a>.</li>
</ol>

<h2>Terms</h2>

<ol>
  <li>Your use of the Service is at your sole risk. The service is provided on an "as is" and "as available" basis.</li>
  <li>You understand that we use third party vendors and hosting partners to provide the necessary hardware, software, networking, storage, and related technology required to run the Service.</li>
  <li>You must not modify, adapt or hack the Service or modify another website so as to falsely imply that it is associated with the Service or us.</li>
  <span class="arrow"></span><aside class="annotation">You must not create any publication which falsely implies that it is related to Pen Pencil Ruler.</aside>
  <li>You agree not to reproduce, duplicate, copy, sell, resell or exploit any portion of the Service, use of the Service, or access to the Service without the express written permission by us.</li>
  <span class="arrow"></span><aside class="annotation">You must not reproduce, duplicate, copy, sell, resell or exploit Pen Pencil Paper</aside>
  <li>We may, but have no obligation to, remove Content and Accounts containing Content that we determine in our sole discretion are unlawful, offensive, threatening, libelous, defamatory, pornographic, obscene or otherwise objectionable or violates any party's intellectual property or these Terms of Service.</li>
  <span class="arrow"></span><aside class="annotation">We will remove inappropriate content.</aside>
  <li>Verbal, physical, written or other abuse (including threats of abuse or retribution) of any customer, employee, member, or officer will result in immediate account termination.</li>
  <span class="arrow"></span><aside class="annotation">Any abuse towards the Pen Pencil Ruler team will result in your account being suspended or terminated.</aside>
  <li>You understand that the technical processing and transmission of the Service, including your Content, may be transferred unencrypted and involve (a) transmissions over various networks; and (b) changes to conform and adapt to technical requirements of connecting networks or devices.</li>
  <span class="arrow"></span><aside class="annotation">You understand that your content may be transferred over an unencrypted internet connection.</aside>
  <li>You must not upload, post, host, or transmit unsolicited email, SMSs, or "spam" messages.</li>
  <li>You must not transmit any worms or viruses or any code of a destructive nature.</li>
  <span class="arrow"></span><aside class="annotation">Don't do anything inappropriate.</aside>
  <li>If your bandwidth usage significantly exceeds the average bandwidth usage (as determined solely by us) of other Pen Pencil Ruler customers, we reserve the right to immediately disable your account until you can reduce your bandwidth consumption.</li>
  <span class="arrow"></span><aside class="annotation">We may suspend your account if your usage is higher than average.</aside>
  <li>We do not warrant that (i) the service will meet your specific requirements, (ii) the service will be uninterrupted, timely, secure, or error-free, (iii) the results that may be obtained from the use of the service will be accurate or reliable, (iv) the quality of any products, services, information, or other material purchased or obtained by you through the service will meet your expectations, and (v) any errors in the Service will be corrected.</li>
  <span class="arrow"></span><aside class="annotation">Pen Pencil Ruler may not be perfect for you and it may not be error free but we will do our best to make Pen Pencil Ruler a great service.</aside>
  <li>You expressly understand and agree that we shall not be liable for any direct, indirect, incidental, special, consequential or exemplary damages, including but not limited to, damages for loss of profits, goodwill, use, data or other intangible losses (even if we have been advised of the possibility of such damages), resulting from: (i) the use or the inability to use the service; (ii) the cost of procurement of substitute goods and services resulting from any goods, data, information or services purchased or obtained or messages received or transactions entered into through or from the service; (iii) unauthorized access to or alteration of your transmissions or data; (iv) statements or conduct of any third party on the service; (v) or any other matter relating to the service.</li>
  <span class="arrow"></span><aside class="annotation">We are not liable for any losses and we recommend that you save a backup of your notes elsewhere.</aside>
  <li>The failure of us to exercise or enforce any right or provision of the Terms of Service shall not constitute a waiver of such right or provision. The Terms of Service constitutes the entire agreement between you and us and govern your use of the Service, superceding any prior agreements between you and us (including, but not limited to, any prior versions of the Terms of Service).</li>
  <span class="arrow"></span><aside class="annotation">Even if we do not enforce this Terms of Service, this is not a waiver of these Terms.</aside>
  <li>Questions about the Terms of Service should be sent to <a href="mailto:support@penpencilruler.com">support@penpencilruler.com</a>.</li>
  <span class="arrow"></span><aside class="annotation">If you have any questions about these Terms, email us.</aside>
</ol>

<h2>Change log:</h2>

<ul>
  <li>August 24, 2013: First version</li>
</ul>
