<%= link_to 'Back to Subject', subject_topics_path(@subject) %>
<br>
<br>
<h2>Editing subject</h2>

<%= render 'form' %>

<br>
<br>
<%= link_to 'Destroy', [@subject], method: :delete, data: { confirm: 'Are you sure?' } %>
