<h2>Subjects</h2>

<ul>
<% @subjects.each do |subject| %>
  <li>
    <%= link_to subject.name, subject_topics_path(subject) %>
  </li>
<% end %>
</ul>

<br />

<%= link_to 'New Subject', new_subject_path %>
