

<a href="http://www.penpencilruler.com" style="vertical-align: middle;"><img src="http://www.penpencilruler.com/assets/pencil-a14c6f028f249f95f15ecfc5cba1c1b4.png" style="width: 50px; height: 50px; border: 2px solid #ccc; border-radius: 10em;"></a><br>
<span style="font-size: 1.5em; display: inline-block; vertical-align: middle;">Hello <%= @email %>!</span>

<p>Someone has requested a link to change your password. You can do this through the link below.</p>

<p><%= link_to 'Change my password', edit_password_url(@resource, :reset_password_token => @resource.reset_password_token) %></p>

<p>If you didn't request this, please ignore this email.</p>
<p>Your password won't change until you access the link above and create a new one.</p>

